body {
  background-color: #2C3333;
  color: #D3E0EA;
  text-align: center;
  font-family: cursive;
}

h1 {
  color: #2666CF;
  font-size: 130px;
  font-family: cursive;
}

p1 {
  font-size: 30px;
}

p2 {
  font-size: 25px;
}

h3 {
  color: #2666CF;
  font-size: 50px;
  text-align: center;
}

a {
  color: #D3E0EA;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #395B64;
  border-width: 7px;
  height: 0px;
  width: 8%;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
